:root {
  background-color:#DDEEEE;
  /*margin-left:40px;
  margin-top:50px;
  margin-right:40px;
*/
  
}

body{
  font-size: 12pt;
  font-family: Roboto;
  padding:0px;
  margin:0px;
  min-height:100vh;
  border:solid #B6BABA;
  
}

.header-container{
background-color:#9fadad; 
padding:30px;
box-shadow:10px 10px 10px rgb(246, 246, 238)
}

.header{
display:flex; 
justify-content: space-between;
font-size:20px;
margin-bottom:20px;
margin-left:25px;
}

.logo{
font-size:20px;
font-weight:900;
}

ul{
list-style-type:none;
display:flex;
padding:0px;
margin:0px;
gap:16px;
}

a{
text-decoration:none;  
padding:8px;  
}

.container{
display:flex;
justify-content:space-between;
margin-bottom: 30px;
gap:100px;
padding-top: 20px

}

.sub-container{
padding:10px;
margin-left:20px
}

.img{
width:100px;
height:100px;
margin-top:10px;
border-radius: 20px;
overflow: hidden;
padding: 90px;
margin-right: 100px;
}

.img img{
  height:auto;
  width: 200px;
  object-fit: scale-down; 
}

h1{
font-size:48px;
font-weight:800;
}

.head{
text-align:center;  
font-weight:900;
font-size:30px;
margin-bottom:10px;
margin-top:10px;
}


.divider{
display:grid;
justify-content:center;
gap:30px;
font-size:18px;  
padding-bottom:20px;
}

/*img{
border: 3px solid #3882f6;
padding:95px 100px;
border-radius:12px;
} */

.info{
border: 3px solid #3882f6;
padding:35px 30px;
border-radius:12px; 
overflow: hidden;
}

.info img{
width: 15vw;
height: 15pvh;
display: block;
}

.about-container{
background:#E5E7EB;
padding:70px 10px;
padding-top:1px;

}

a{
  text-decoration: none;
  color:midnightblue;
}

h2{
text-align:center;
}

.paragraph{
text-align:center
}

.contact-container{
text-align:center;
}

.contact{
font-weight:bold;
font-size:20px;
margin-bottom:10px;
margin-top:10px;
}

.textInput{
display:grid;
text-align:center;
margin-top:10px;
margin-bottom:20px;
}

.footer{
background:#1F2937;
padding:33px;
color:#E5E7EB; 
text-align:center;
}
